/* class definitions------------------------*/

/* defines the card elements*/
.card {
	background-color: white;
	border-radius: 8px;
	/* padding*/
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 32px;
	padding-bottom: 32px;
	/* sizing*/
	max-width: 400px;
	min-width: 300px;
	/* centers the card in the body*/
	margin-left: auto;
	margin-right: auto;
	/* defines space between cards*/
	margin-bottom: 16px;
	/* drop shadow*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* centers name and IGME 230 */
.profile {
	margin-left: auto;
	margin-right: auto;
	width: 200px;

}

/* -----------------------------------------*/
/* Sets background color and page padding */
body {
	background-color: white;
	padding: 4vw;
}

/* sets the size and rounds the image */
img {
	border-radius: 100px;
	width: 200px;
}

/* styles my name */
h1 {
	text-align: center;
	color: #0b0016;
	font-family: sans-serif;
	font-size: 24px;
	margin-bottom: 0;
}
/* styles section headings*/
h2 {
	text-align: center;
	color: black;
	font-family: sans-serif;
	font-size: 16px;
}
/* makes elements blue */
span {
	color: cornflowerblue;
}
/* styles links */
a {
	text-decoration: none;
	color: cornflowerblue;
}
/* removes default style from lists */
ul {
	list-style: none;
	padding: 0;
}

/* styles list items */
li {
	font-family: monospace;
	font-size: 16px;
	padding: 8px;
	border-radius: 8px;
}

li:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: underline;
}
