@import url('https://rsms.me/inter/inter-ui.css');

html,
body {
    font-family: 'Inter UI', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #fafafa;

}

/*Top Navigation*/
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.2s ease-out .1s;
    position: fixed;
    z-index: 1;
}

#navLinks {
    display: flex;
}


.dropdown {
    float: right;
    position: relative;
}

.dropdown .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    color: #333333;
    background-color: inherit;
    font-family: inherit;
    padding: 1em;
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a blue background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: dodgerblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 51px;
    right: 0;
    /*aligns dropdown with button*/
    min-width: 200px;
    background-color: #fafafa;
    box-shadow: rgba(22, 23, 26, 0.15) 0px 8px 16px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #fafafa;
    padding: .5em 1em;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: dodgerblue
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}


.nav_elements {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    color: black;
    padding: 1em;
    text-decoration: none;
    transition: all 0.2 ease-out 0;
}

nav a:hover {
    background-color: dodgerblue;
    color: #fafafa;
}

/*-----------------------------------------*/

.parallax {

	/* Set a specific height */
	height: 800px;
    width: 100vw;
    max-width:100%;
    margin: 0;
    padding: 0;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;

    grid-area: header;
}

/*Using Modernizer as a fallback for the Webp parallax image*/

/*Browser doesnt support webp*/
.no-webp .parallax {
  background-image: url("images/home/about_cover.jpg");
}

/*Browser supports webp*/
.webp .parallax{
  background-image: url("images/home/about_cover.webp");
}
/*-----------------------------------------*/

/*Centers Stuff on Page*/
.content {
    display: flex;
    justify-content: center;
    padding: 4em 1.5em;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1000px;
}

article {
    grid-column: 1/ span 2;
}

/*Video Containers*/
.fullsize {
    grid-column: 1/ span 2;
    width: 100%;
    display: flex;
    justify-content: center;

}

video {
    object-fit: contain;
}

/*-----------------------------------------*/

header {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    /*Cheat fix to an issue with the parallax class*/
    overflow: hidden;
}

header div {
    z-index: 1;
    grid-area: header;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-out .1s;
}

.gallery {
    padding: 2em;
    grid-column: 1/ span 2;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .cell {
    max-width: 300px;
    margin: 0 1em;
}

.gallery img {
    width: 100%;
}

.slide {
    grid-area: header;
    grid-column-end: span all;
    display: none;
    max-width: 100%;
}

.slidestill {
    grid-area: header;
    grid-column-end: span all;
    display: none;
    max-width: 100%;
}

/*Return Button: Returns usere to the top of the page*/
#return_button {
    position: fixed;
    display: flex;
    bottom: 16px;
    right: 16px;
    width: 64px;
    height: 64px;
    opacity: 0;
    transition: opacity 0.2s ease-out .1s;
    z-index: 2;
}

#return_button a img {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(180deg);
}

/*Button Styles*/
aside button {
    background: #5182FF;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    width: 100%;
    padding: 12px;
    text-align: center;
    color: #fafafa;
    transition: all .1s ease-out .1s;
}

aside button:hover {
    -webkit-box-shadow: 0px 3px 8px 0px rgba(2, 56, 150, 1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(2, 56, 150, 1);
    box-shadow: 0px 3px 8px 0px rgba(2, 56, 150, 1);
}

aside button:active {
    background: #4c7aed;
    -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

#project_intro p {
    margin-right: 32px;
}

.site_name {
    font-family: bello-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0 0 0 .5em;
    transition: all 0.2 ease-out 0;
}

/*Hides Shortend text in desktop view*/
.short-text {
    display: none;
}

header .icon {
    opacity: .8;
    width: 4vw;
}

header a:hover {
    background: none;
}

header h1,
.carddetails {
    font-size: 5vw;
    color: white;
    background-color: black;
    padding: .25em;
    opacity: .8;
    border-radius: 8px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .25em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: normal;
    color: #5182FF;
    margin-top: 0;
    margin-bottom: 1em;
}

aside h3 {
    margin-top: 0;
    margin-bottom: .25em;
}

aside p {
    margin-top: 0;
    margin-bottom: 1em;
}

p {
    color: #333333;
    line-height: 2em;
    margin-top: 0;
    margin-bottom: 2em;
}



/*side nav*/
#navpanel {
    display: grid;
    grid-template-columns: 250px 1.5em;
    min-height: 200px;
    max-height: 90vh;
    margin-bottom: 2em;
    background-color: black;
    position: fixed;
    top: 40vh;
    left: -250px;
    z-index: 2;
    opacity: .5;
    transition: opacity 0.2 ease-out 0;
}

#navtoggle {
    grid-column-start: 2;
    font-size: 3em;
    font-weight: bold;
    background-color: white;
}

#navmenu {
    grid-column-start: 1;
    grid-row-start: 1;
    align-items: top;
}

#navmenu li {
    color: cornflowerblue;
    margin-top: .5em;
    list-style-type: none;
}

/* hides hamburger menu in desktop view*/

#close {
    display: none;
}

#open {
    font-size: 2.5rem;
}

.submenu-panel {
    display: none;
}

#content {
    padding: 0 .5em 0 2em;
}

/*Home Screen Don't Know if I Still Need This?*/
figure {
    margin: 0;
    padding: 0;
}
/*-----------------------------------------*/

/*hides down arrow when up*/
#pArrowDown {
    display: none;
}

hr {
    border: 1px solid;
    color: #333333;
    width: 100%;
    margin-left: .5em;
}

/*Grid Layout*/

.hideshowicon {
    margin-left: .5em;
    padding-bottom: .25em;
    height: 100%;
}

.hideshowicon i {
    font-size: 1.5em;
}

#projectgrid {
    margin-top: 2em;
    grid-column: 1 /span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.hideshow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    margin-bottom: 2em;
}

/* Gallery*/
.hideshow,
.projgallery {
    grid-column: 1 /span2;
}

.projgallery {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.projgallery div {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projgallery div figure img {
    transition: all .1s ease-out .1s;
}

.projgallery div figure img:hover {
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3x 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

/*Positions text above gallery cards*/
.carddetails {
    font-size: 1em;
    padding: 0 1em;
    position: absolute;
    display: none;
    transition: all .1s ease-out .1s;
}
/*-----------------------------------------*/

#newsdeck {
    grid-column: 1 /span 2;
}

#mobilebanking {
    grid-column: 1;
    grid-row: 2/ span 2;
    margin-right: 8px;
}

#vehicleregistration {
    grid-column: 2;
    margin-left: 8px;
}

#strongmuseum {
    grid-column: 2;
    margin-left: 8px;
}
/*-----------------------------------------*/

/*images*/

.thumbnail img {
    border-radius: 8px;
    max-width: 100%;
    width: auto;
    height: auto;
}
/*-----------------------------------------*/

@media (max-width:640px) {

    /*responsive nav*/
    nav {
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 0;
    }

    .nav_elements {
        justify-content: center;
    }

    .dropdown-content {
        right: 0;
        min-width: 100%;
    }
    /*-----------------------------------------*/

    /*Gets rid of parallax on mobile*/
    .parallax{
        display: none;
    }
    .slidestill{
        display: block;
    }
    /*-----------------------------------------*/

    /*Hides the full site name and shows the shortend version*/
    .short-text {
        display: block;
    }

    .full-text {
        display: none;
    }
    /*-----------------------------------------*/

    section {
        grid-column: 1/ span 2;
    }

    #project_intro p {
        margin-right: 0;
    }

    aside {
        grid-column: 1/ span 2;
    }

    header div {
        display: none;
    }

    #navpanel {
        display: none;
    }

    /*adjusting the projects grid for mobile*/
    #mobilebanking {
        grid-column: 1/ span 2;
        margin-right: 0;
    }

    #vehicleregistration {
        grid-column: 1 /span 2;
        margin-left: 0;


    }

    #strongmuseum {
        grid-column: 1 /span 2;
        margin-left: 0;

    }
    /*-----------------------------------------*/
}

